{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<p><h2>Location:</h2></p>
<p>8507 Reseda Blvd, Northridge, CA 91324</p>
<p>(818) 349-8655</p>
<p><h2>Hours:</h2><br>Sunday, 9AM-9PM<br>Monday, 9AM-10PM<br>Tuesday, 9AM-10PM<br>Wednesday, 9AM-10PM<br>Thursday, 9AM-10PM<br>Friday, 9AM-10PM<br>Saturday, 9AM-10PM</p>

<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52782.83438018552!2d-118.61270555136718!3d34.224878499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f2.1!3m3!1m2!1s0x80c29bb38220cd3b%3A0x8b52f79679f40230!2sMetro%20Balderas!5e0!3m2!1sen!2sus!4v1704321305002!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}